/* General Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0;
  }
  
  ul {
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }  

  img {
    max-width: 100%;
  }
  
  /* Lionel_Messi Section Styles */
  
  #Lionel_Messi {
    background-image: url("/image1.jpg");
    filter: grayscale(50%);
    opacity: 1;
    background-position: center;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
  }
  
  #Lionel_Messi h2 {
    font-size: 64px;
    margin-bottom: 0px;
    margin-top: 400px;
  }
  

  /* About Section Styles */
  
  #about {
    margin-top: 20px;
    align-items: center;
    text-align: center;
  }

  #about h2 {
    font-size: 46px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }

  #about p {
    text-align: center;
    margin-bottom: 50px;
  }


  #about a {
    background-color: white;
    color: black;
    border: 2px solid #000000; /* Black */
    font-size: 16px;
    border-radius: 40px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
  }

  #about a:hover {
    background-color: black;
    color: white;
  }

  /* Carrer Section Styles */

  #career {
    background-color: #333;
    color: white;
    margin-top: 20px;
    align-items: center;
    text-align: center;
  }

  #career h2 {
    font-size: 46px;
    text-align: center;
    margin-top: 100px;
    padding-top: 100px;
    margin-bottom: 30px;
  }
  
  #career p {
    margin-bottom: 20px;
    padding-bottom: 100px;
  }


  /* Footer Styles */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 100px;
  }

  footer p {
    margin-bottom: 0px;
  }
  
  #awards {
    text-align: center;
  }

  #awards h2 {
    font-size: 46px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }

  #awards ul {
    text-align: center;
  }

  #awards a {
    background-color: white;
    color: black;
    border: 2px solid #000000; /* Black */
    font-size: 16px;
    border-radius: 40px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
  }

  #awards a:hover {
    background-color: black;
    color: white;
  }